<div class="title text-center">
    <h3>{{titulo}}</h3>   
</div>
<div class="container">
    <mat-card>
        <mat-card-subtitle>Users</mat-card-subtitle>
       <form [formGroup]="forms" (ngSubmit)="AddEditUser()">
        <mat-grid-list cols="2" rowHeight="80px">            
            <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Name</mat-label>
                <input  formControlName="name" matInput autocomplete="off">               
                </mat-form-field>
            </mat-grid-tile >
            <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>User Name</mat-label>
                <input formControlName="username" matInput autocomplete="off">               
               </mat-form-field>
            </mat-grid-tile>
        
            <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput autocomplete="off">               
               </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput autocomplete="off">               
               </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Website</mat-label>
                <input formControlName="website" matInput autocomplete="off">               
               </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2"> 
              <button [disabled]="forms.invalid" type="submit" class="btn btn-primary">Aceptar</button>
            <button  mat-button class="btn btn-secondary" routerLink="/Usuarios">Regresar</button>
            </mat-grid-tile> 
            </mat-grid-list>   
        </form>
    </mat-card>
</div>

