<div id="print-section" class="p-2"> 
    <h2 class="text-center">Detalle de Usuarios</h2>
    <mat-card>
        
        <div *ngIf="user$ | async as user" class="container text-center" style="width:50% ;">
            <mat-card-title>Id: {{user.id}}</mat-card-title>
            <mat-card-content>
                <h3>Name: {{user.name}}</h3>
                <h3>User: {{user.username}}</h3>                
                <h3>Email: {{user.email}}</h3>
                <h3>Phone: {{user.phone}}</h3>   
                <h3>Website: {{user.website}}</h3>                 
                        
            </mat-card-content>  
                      
        </div>
      </mat-card>
    </div>
    <div>
        <mat-card-actions>
            <button printSectionId="print-section" ngxPrint mat-raised-button class="me-2 bg-primary">Print</button>
            <button routerLink="/Usuarios" mat-raised-button class="float-end bg-secondary">Back</button>
        </mat-card-actions>   
    </div>
  
  
