<div class="container text-center bg-primary display-2">

  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>supervisor_account</mat-icon>Users</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink='/Usuarios'>List</button>
  </mat-menu>

<button mat-button [matMenuTriggerFor]="aboveMenu">
  <mat-icon>perm_identity</mat-icon>Fabio Ortiz Charris</button>
<mat-menu #aboveMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink='/Usuarios'>Prueba Téncica en Angular</button>
</mat-menu>
</div>



